body {
  background-image: linear-gradient(to right, rgb(223, 233, 139) , rgb(175, 211, 109));
}

.card-screen,
.test-screen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  margin-top: 50px;
}

.card {
  background-color: rgb(240, 237, 178);
}

.img {
  margin-top: 50px;
  height: 180px;
  width: 180px;
  cursor: pointer;
}

.imgMemory{
  height: 180px;
  width: 180px;
}

.play-btn,
.start-btn {
  cursor: pointer;
  width: 200px;
}

.play-button {
  margin-top: 100px;
  text-align: center;
  width: 100;
}

.test {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  cursor: pointer;
}

.play-intruction,
.scoreBoard,
.test-intruction {
  text-align: center;
}

.test-intruction {
  margin-top: 50px;
}

.text {
  font-family: monospace;
}

.card {
  text-align: center;
  border: 2px solid black;
  box-shadow: 10px 10px 10px 0 rgb(71, 71, 71);
}

.home {
  text-align: center;
}
.language {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-top: 250px;
}

.box {
  width: 180px;
  height: 50px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  margin-top: 50px;
}

.learn-button {
  margin-top: 100px;
  text-align: center;
  width: 100;
}

.flag-language {
  font-size: 100px;
  margin: 0px;
}

.language {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 100%;
  margin-top: 50px;
}

.learn-button {
  margin-top: 100px;
  text-align: center;
  width: 100;
}

.flag-language {
  font-size: 150px;
  margin: 0px;
}

/* make sure this class stay in this position */
.hide {
  display: none;
}

/* *************************************************** */
/* Colors for the game background cards and words */

.color1 {
  background-color: rgb(157, 157, 236);
}

.color2 {
  background-color: rgb(240, 165, 135);;
}
.color3 {
  background-color: rgb(209, 115, 197);;
}
.color4 {
  background-color: rgb(111, 216, 143);;
}
.color5 {
  background-color: rgb(141, 207, 196);
}
.color6 {
  background-color: rgb(233, 198, 133);
}

.color7 {
  background-color: rgb(243, 99, 99);
}

.color1:active{
  background-color: white;
}
.color2:active{
  background-color: white;
}
.color3:active{
  background-color: white;
}
.color4:active{
  background-color: white;
}
.color5:active{
  background-color: white;
}
.color6:active{
  background-color: white;
}
.color7:active{
  background-color: white;
}
/* *************************************************** */
